<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla/template :: head}">
    <title th:text="${titulo}">Crear/Editar Usuarios</title>
</head>
<body>
    <header th:replace="~{plantilla/template :: header}"></header>
	<div class="container">
			<div class="card bg-light">
				<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
				<div class="card-body">
					<form th:action="@{/views/usuarios/save}" th:object="${usuario}" method="post">
						<label hidden for="id">id</label>
						<input hidden type="text" id="id" th:field="*{id}" /><br/>
												
						<label for="nombre">Nombre:</label>
						<input type="text" id="nombre" th:field="*{nombre}" /><br/>
						
						<label for="apellido">email:</label>
						<input type="text" id="email" th:field="*{email}" /><br/>
						
						<label for="password">password : </label>
						<input type="text" id="password" th:field="*{password}" /><br/>
						
						<label for="rol">rol :</label>
						<input type="text" id="rol" th:field="*{rol}" /><br/>
						
						<button type="submit">Guardar</button>
					</form>
				</div>
			</div>
	</div>
    <footer th:replace="~{plantilla/template :: footer}"></footer>
</body>
</html>
