
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla/template2 :: head}">
    <title th:text="${titulo}">Listar Usuarios</title>
</head>
<body>
    <header th:replace="~{plantilla/template2 :: header}"></header>
    <div class="container">
		
        <h2 th:text="${titulo}"></h2>
		
        <!-- Botón para registrar un nuevo producto -->
        
        <table class="table table-striped">
			
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
					<th>Email</th>
                    <th>Rol</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario:${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.rol}"></td>

                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="~{plantilla/template :: footer}"></footer>
</body>
</html>
