<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla/template :: head}">
</head>

<body>
	<header th:fragment="header">
	    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	        <div class="container">
	            <a class="navbar-brand" href="#">
	                <strong><img th:src="@{/images/logo.jpg}" height="50" width="100" alt="Logo"> Mi Aplicación Web</strong>
	            </a>

	            <button class="navbar-toggler" type="button" data-toggle="collapse"
	                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	                    aria-expanded="false" aria-label="Toggle navigation">
	                <span class="navbar-toggler-icon"></span>
	            </button>

	            <!-- Enlaces del menu -->
	            <div class="collapse navbar-collapse" id="navbarSupportedContent">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <a class="nav-link" th:href="@{/index}">Inicio
	                            <span class="sr-only">(current)</span>
	                        </a>
	                    </li>
<!--	                    <li class="nav-item">-->
<!--	                        <a class="nav-link" th:href="@{/views/movimientos/}">Movimientos</a>-->
<!--	                    </li>-->
<!--	                     Enlace para productos -->
<!--	                    <li class="nav-item">-->
<!--	                        <a class="nav-link" th:href="@{/views/productos/}">Productos</a>-->
<!--	                    </li>-->
<!--						<li class="nav-item">-->
<!--						     <a class="nav-link" th:href="@{/views/usuarios/}">Usuarios</a>-->
<!--						</li>-->
	                </ul>
	            </div>
	        </div>
	    </nav>

	    <!-- MENSAJES ALERTS -->
	    <div class="alert alert-success alert-dismissable" th:if="${success != null}">
	        <label th:text="${success}"></label>
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	        </button>
	    </div>
	    <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
	        <label th:text="${error}"></label>
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	        </button>
	    </div>
	    <div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
	        <label th:text="${warning}"></label>
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	        </button>
	    </div>
	    <div class="alert alert-info alert-dismissable" th:if="${info != null}">
	        <label th:text="${info}"></label>
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	        </button>
	    </div>
	</header>
	
	<div class="container-fluid h-100 d-flex align-items-center justify-content-center">
	    <div class="row w-100">
	        <!-- Primer div: Formulario de login -->
	        <div class="col-12 col-md-6">
	            <div class="container">
	                <div class="row justify-content-center">
	                    <div class="col-12 col-md-6 col-lg-4">
	                        <div class="card shadow-sm w-100">
	                            <div class="card-body">
	                                <h2 class="text-center mb-4">Iniciar sesión</h2>
								<form th:action="@{/views/usuarios/login}" method="post">
								    <div class="mb-3">
								        <label for="email" class="form-label">Correo electrónico</label>
								        <input type="email" class="form-control" id="email" name="email" placeholder="Introduce tu correo">
								    </div>
								    <div class="mb-3">
								        <label for="password" class="form-label">Contraseña</label>
								        <input type="password" class="form-control" id="password" name="contraseña" placeholder="Introduce tu contraseña">
								    </div>
								    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
	
								</form>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <!-- Segundo div: Información del curso -->
	        <div class="col-12 col-md-6">
	            <div class="container">
	              
	                <div class="card-body bg-light justify-content-center align-items-center my-10">
	                    <img th:src="@{/images/icons-user-64m.png}" height="150" width="150" alt="Icono Usuario Masculino">
	                    <img th:src="@{/images/icons-user-64f.png}" height="150" width="150" alt="Icono Usuario Femenino">
	                    <h1>.: Curso: Lenguaje de Programación II</h1>
	                    <h2>.: Grupo IV: :.</h2>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
    <footer th:replace="~{plantilla/template :: footer}"></footer>
</body>
</html>

